.btn{
    background-color: #1b7cbf;
    color: #ffffff;
    padding: 13px 29px;
}
span .btn
{
    margin-left: 10px;
}
.slider-contain .text-left h1,.slider-contain .text-left p{
    padding-left: 10px;
}