.btn.btn.btn-primary {
    text-transform: capitalize;
    margin: 2px;
    font-weight: 500;
}

.more {
    background-color: #1e3799;
    border: 1px solid #1e3799;
}
.brand a{

    cursor: pointer;
}

.brand a span{
    padding: 16px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 8px;
    max-height: 50px;
    object-fit: contain;
}
.w-55{
    width: 55px;
}

.brand a img {
    padding: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 8px;
    max-height: 50px;
    object-fit: contain;
}

.items {
    padding: 15px;
    box-shadow: 3px 3px 10px 0px #00000025;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.top-heading {
    flex-basis: 100%;
}

.items .img-wrapper {
    margin-top: 35px;
}

.front.text-center img {
    max-width: 340px;
    width: 100%;
    height: 140px;
    object-fit: contain;
}
.dropdown-menu {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 30%;
    min-width: 360px;
    max-width: 800px;
    width:94%;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 16px 0 #00000026;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    z-index: 999;
    align-items: center;
    justify-content: center;

    ul{
        height:210px;
        overflow: auto;

        li {
            display: inline-block;
            margin: 5px;
            // flex: 1;
            text-align: center;
            // width: calc((100% - 0px) / 8);
            width: auto;
            overflow: hidden;

            a {
                // padding: 0;
                display: inline-block;
                padding: 5px;
                border-radius: 50px;
                font-size: 14px;
                border: 1px solid #B0BEC5;
                cursor: pointer;

                img{
                    width: 100%;
                    height: 25px;
                    object-fit: contain;
                }
            }
        }
    }

    .brandNav{
        background-color: #fff;
        width: 100%;
        padding: 5px 15px 0 15px;
        ul{
            height: auto;
            text-align: right;
            .next{
                width:100px;
                border-radius: 30px;
                background-color: #1E3799;
                border: 1px solid #1E3799;
                padding: 8px;
                color:#fff;
                cursor:pointer;
            }
            .pre{
                width:100px;
                border-radius: 30px;
                background-color: #fff;
                padding: 8px;
                border: 1px solid #1E3799;
                cursor: pointer;
            }
        }
    }
}
.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:focus {
    background:#fff;
    color: #1E3799;
    text-decoration: none;
    border: 1px solid #1E3799;
}

@media only screen and (max-width: 600px) {
    .items {
        height: 250px;
    }

    .items .img-wrapper {
        margin-top: 25px;
    }
}