.text-danger div:first-child
{
    margin-top: -25px;
}

.text-danger{
    padding-bottom: 25px;
}
.float-right{
    float: right !important;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.loginBtn {
    background-color: #1E3799;
    border-radius: 50px;
    color: #fff !important;
    padding: 12px 15px;
    border: 1px solid transparent;
    min-width: 120px;
    &:hover{
        background-color: #182c79;
    }
}
.createBtn {
    border: 1px solid #1E3799;
    border-radius: 50px;
    color: #1E3799 !important;
    padding: 12px 15px;
    min-width: 120px;
    &:hover{
        background-color: #182c79;
        color: #fff !important;
    }
}