.form-row{
    justify-content: center;
}

.text-danger div:first-child
{
    margin-top: 10px;
}

.text-danger{
    padding-bottom: 10px;
}
.loginBtn {
    background-color: #1E3799;
    border-radius: 50px;
    color: #fff !important;
    padding: 12px 15px;
    border: 1px solid transparent;
    min-width: 120px;
    &:hover{
        background-color: #182c79;
    }
}