    // /* Adjustments to make the resizable div */
    // .example-container {
    //     border: 1px solid #ccc;
    //     resize: horizontal; /* Allow horizontal resizing */
    //     overflow: auto; /* Enable scrolling if content overflows */
    //     min-width: 200px; /* Minimum width */
    //   }
  
    //   a-scene {
    //     width: 100% !important; /* Make sure the scene fills the container */
    //     height: 100vh !important; /* Set scene height to fill the viewport */
    //   }