.small-slider-product img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.product-slick1 {
    height: 365px;
    display: block;
}

.right-eye {
    padding-left: 3em;
}

.product-right .color-variant li.active {
    border: 2px solid #9d9999 !important;
}

.zoom-image {
    max-height: 370px !important;
    object-fit: contain !important;
}

.product-right h3 del,
.product-right .h3 del {
    padding-right: 5px;
}

.addons-price select,
.addons-price textarea,
.addons-price input,
.addons-price div:first-child {
    margin-right: 15px;
    flex-basis: 55%;
}

.addons-price div {
    flex-basis: 40%;
}

.price-section {
    display: flex;
}

.price-section input {
    border: none;
    box-shadow: none;
}

iframe {
    width: 100%;
    height: 400px;
}

.form-control {
    height: 40px;
    border-radius: 8px;
    border-width: 2px;
}

.price-section input {
    pointer-events: none;
    min-width: 40px;
    margin-right: 0 !important;
    background: transparent;
}

.view_3d {
    width: 100px !important;
    margin: 0 auto;
    height: 130px;
}

.add_ons_level {
    width: 100%;

    h4 {
        border-bottom: 1px solid #9d9999;
    }
}

.border-product {
    .col-sm-6:nth-child(7) {
        max-width: 100% !important;
        flex: 100%;
    }
}

.try_on_btn {
    border: 1px solid #007bff;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;

    i {
        margin-right: 5px;
    }

}

.try_on_btn:hover {
    background-color: #007bff;
    color: #fff;
}

.modal-body {
    padding-left: 1rem !important;
    padding-bottom: 1rem !important;
}

.color-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    background: #d3d3d3;
}

.color-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.color-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.color-range::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}




.zoom-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Adjust as needed */
    height: 100%;
    /* Adjust as needed */
    cursor: crosshair;
}

.zoom-image {
    transition: transform 0.2s ease;
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    display: block;
}

.zoom-container.zoomed .zoom-image {
    transform: scale(2);
    /* Adjust scale as needed */
}




@media only screen and (max-width: 600px) {
    .product-slick1 {
        height: 200px;
    }

    .small-slider-product img {
        height: 65px;
        width: 65px;
        object-fit: contain;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

    .try_on_btn {
        margin-top: 25px;
    }
}