.product_img {
    height: 50px !important;
}

.table {
    th {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;
    }
}

.order-detail {
    li {
        span {
            font-weight: 600;
            padding-right: 10px;
        }
    }
}

.payment-mode {
    p {
        span {
            font-weight: 600;
        }
    }
}
.text-right
{
    text-align: right;
}