.btn.btn.btn-primary{
    text-transform: capitalize;
    margin: 2px;
    font-weight: 500;
}
.more{
    background-color: #1e3799;
    border:1px solid #1e3799;
}
.items{
    padding: 15px;
    box-shadow: 3px 3px 10px 0px #00000025;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}
.top-heading
{
    flex-basis: 100%;
}
.items .img-wrapper{
    margin-top: 35px;
}
.front.text-center img {
    max-width: 340px;
    width: 100%;
    height: 140px;
    object-fit: contain;
}

.filterMenu button {
    all: unset; 
    padding: 8px 15px;
    display: inline-block;
    text-align: center;
    min-width: 80px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.filterMenu button.active{
    background-color: #1E3799;
    border-radius: 50px;
    color: #fff;
}

.wishlistIcon button {
    all: unset;
}


@media only screen and (max-width: 600px) {
    .front.text-center img {
        height: 90px;

    }
    .items {
      height: 250px;
    }
    .items .img-wrapper{
        margin-top: 25px;
    }
  }