.card {
    input {
        position: absolute;
        top: 25px;
        right: 15px;
    }
}

a {
    cursor: pointer;
}

.text-danger {
    padding-bottom: 25px;

    div {
        &:first-child {
            margin-top: -25px;
        }
    }
}

.dashboard-left {
    .block-content {
        padding: 0;

        ul li {
            border-bottom: 1px solid #e5e5e5;
            align-items: center;

            &:hover {
                background-color: #003e94;
                color: #fff;

                a {
                    color: #fff;
                }
            }

            &:last-child {
                border: none;
            }

            &:before {
                margin-top: 14px;
            }
        }

        ul li.active {
            padding-left: 15px;
            background-color: #003e94;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}

.account-sidebar {
    a {
        color: #fff;
    }
}

.loginBtn {
    background-color: #1E3799;
    border-radius: 50px;
    color: #fff !important;
    padding: 12px 15px;
    border: 1px solid transparent;
    min-width: 120px;
    &:hover{
        background-color: #182c79;
    }
}
.createBtn {
    border: 1px solid #1E3799;
    border-radius: 50px;
    color: #1E3799 !important;
    padding: 12px 15px;
    min-width: 120px;
    &:hover{
        background-color: #182c79;
        color: #fff !important;
    }
}