@media only screen and (max-width: 577px) {
    .onhover-dropdown.mobile-account {
        .onhover-show-div {
            li a {
                font-size: 14px !important;
            }
        }
    }
}