.store-image {
  width: 85px;
  height: 85px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #80808030;
  display: inline-block;
  margin: 10px 10px 3px 10px;
  cursor: pointer;

}

.storeside-img {
  border: solid 3px transparent;
}

.storeside-img:hover {
  border: solid 3px #3e323e;
}

.true {
  cursor: not-allowed;
  pointer-events: all !important;
}

.roomavailabla.false {
  display: none;
}

.roomavailabla.true {
  display: block;
  color: #ff0000;
}

.btn.btn.btn-primary {
  text-transform: capitalize;
  margin: 2px;
  font-weight: 500;
}

.more {
  background-color: #1e3799;
  border: 1px solid #1e3799;
}

.items {
  padding: 15px;
  box-shadow: 3px 3px 10px 0px #00000025;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.items .img-wrapper {
  margin-top: 35px;
}

.view-all {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 2rem;
  margin: 0 auto;
  cursor: pointer;
  font: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  appearance: none;
  color: #1d5080;
  font-weight: 400;
  border: solid 1px;
  border-radius: 10px;
}

.view-all:hover {
  background-color: #1d5080;
  color: #fff;
}

.cat_2d-list {
  display: flex;
  justify-content: space-between;
}

.cat_2d {
  border: double #000;
  padding: 1rem 7rem;
  text-transform: uppercase;
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.front{
  position: relative;
}
.img-prod{
  width: 85%;
  margin: 0 auto;
  display: block;
  max-height: 115px;
}
.single_self{
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
}

.categoryBtn button {
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
    min-width: 150px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border: 0;
}

// .categoryBtn button:hover {
//   color: white;
//   background-color: #1E3799;
// }

.categoryBtn button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1E3799;
    border-radius: 50px;
    left: -100%;
    opacity: 0;
    top: 0;
    z-index: -1;
    transition: all ease-in-out .3s;
}

.categoryBtn button:hover {
    color: #fff !important;
}

.categoryBtn button:hover::before {
    opacity: 1;
    left: 0;
    transition: all ease-in-out .3s;
}



@media only screen and (max-width: 820px) {
  .single_self{
    top: -30px;
  }
  .cat_2d {
    padding: 1rem 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .items {
    height: 220px;
  }
  .cat_2d-list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .cat_2d{
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 325px;
  }

  .items .img-wrapper {
    margin-top: 25px;
  }
}