.model-viewer {
  width: 100%;
  height: 500px;
}

iframe {
  min-height: 350px;
}

.fixed-face-size {
  width: 465px;
  height: 362px;
}

.example-container {
  background-color: #d3d3d3;
  border-radius: 15px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.video-section {
  min-height: 350px;
}

.example-container {
  left: 0 !important;
}

.btn-solid.virtual_btn {
  background: #fff;
  color: #000;
}

.btn-solid.virtual_btn.active {

  background: #1b7cbf;
  color: #ffffff;
}

.upload-section {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.upload-section input {
  background: #f9f9f994;
  border-radius: 12px;
  padding: 5px;
}

.draggable-mask {
  cursor: grab;
  position: absolute;
  z-index: 10;
  user-select: none;
}

.show-help {
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.mask {
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
}

.upload-section input::file-selector-button {
  font-weight: bold;
  color: #fff;
  padding: 0.5em;
  background-color: #1b7cbf;
  border: none;
  border-radius: 10px;
}

.message_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(69 9 9 / 72%);
  z-index: 3;
  color: #fff;
}

.message_box p {
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .example-container {
    min-height: 480px;
  }
}


.glasses {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 114px;
  height: 45px;
}

.glasses .lens {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 38px;
  border-radius: 8px;
  margin: 4px 6px 4px 6px;
  background-color: #92A0B0;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 167%;
  left: 48%;
  transform: translate(-50%, -50%);
  fill: #2b3a4a;
  z-index: 2;
}

.reflect {
  position: absolute;
  top: -50px;
  left: 10px;
  width: 10px;
  height: 90px;
  transform: rotate(45deg);
  background-color: #fff;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shine;
  -moz-animation-name: shine;
  -ms-animation-name: shine;
  animation-name: shine;
  -webkit-animation-direction: forward;
  -moz-animation-direction: forward;
  -ms-animation-direction: forward;
  animation-direction: forward;
}

@-webkit-keyframes shine {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(100px, 100px);
  }
}

@-moz-keyframes shine {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(100px, 100px);
  }
}

@-ms-keyframes shine {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(100px, 100px);
  }
}

@keyframes shine {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(100px, 100px);
  }
}