.container{max-width: 1400px;}
.header_sec{width: 100%; padding: 15px 0; background:rgba(0, 0, 0, 0.7); position: fixed; top: 0px; left: 0px; right: 0px; z-index: 1;}
.header_inn{width: 100%;}
.header_inn_lt{width: 100%; display: flex; justify-content: space-between; align-items: center;}
.header_logo{width: 200px;}
.header_logo img{width: 100%;}
.menu_sec{width: 100%;}
.menu_sec .nav-link{font: 500 15px/20px "Poppins", sans-serif; color: #fff !important;}
.menu_sec .nav-link:hover{background: #007BFF; border-radius: 9px; color: #fff;}
.menu_sec ul li{padding: 0 15px;}
.menu_sec .navbar-nav {width: 100%; margin: 0px;}
.header_inn_rt{width: 100%; padding-top: 28px;}
.header_inn_rt ul{display: flex; list-style-type: none; justify-content: space-between; align-items: center; margin: 0px; padding: 0px;}
.header_inn_rt ul li{padding: 0px;}
.header_inn_rt ul li a{width: 30px; height: 30px; background: #fff; border-radius: 50%; text-align: center; display: inline-block;}
// .banner_sec{position: relative; width: 100%;}
// .banner_inn{width: 100%;}
// .banner_txt{width: 100%; text-align: center; position: absolute; left: 0px; right: 0px; margin: 0 auto; top: 32%; z-index: 9999;}
// .banner_txt h2{margin: 0px; font: 700 60px/70px "Poppins", sans-serif; color: #fff !important; text-transform: uppercase;}
// .banner_txt p{margin: 0px; font: 400 22px/28px "Poppins", sans-serif; color: #E9E9E9; padding-top: 30px;}
// .banner_txt a{width: 188px; margin-top: 35px; display: inline-block; background: #007BFF; padding: 15px 0;font: 500 15px/20px "Poppins", sans-serif; 
//     border-radius: 9px; color: #fff; text-align: center; text-decoration: none;} 
//  .banner_txt a:hover{background: #007BFF;}   
// .slick-dotted.slick-slider{width: 100%; margin: 0px !important;}    
// .banner_main .slick-next{display: none !important;}    
// .banner_main .slick-dots li button:before{font-size: 32px; color: #E9E9E9; opacity: 0.8;}
// .banner_main .slick-dots{bottom: 23px;}
// .banner_main .slick-dots li.slick-active button:before{color: #007BFF;}
// .banner_main .slick-dots li{width: 10px;}
.ban_inn_sec{width: 100%; text-align: center; position: absolute; left: 0px; right: 0px; margin: 0 auto; top: 17%; z-index: 9999;}
.ban_inn_sec h2{margin: 0px; font: 700 60px/70px "Poppins", sans-serif; color: #fff !important; text-transform: uppercase;}
.ban_inn_sec p{margin: 0px; font: 400 22px/28px "Poppins", sans-serif; color: #E9E9E9; padding-top: 30px;}
.ban_inn_sec a{width: 188px; margin-top: 35px; display: inline-block; background: #007BFF; padding: 15px 0;font: 500 15px/20px "Poppins", sans-serif; 
    border-radius: 9px; color: #fff; text-align: center; text-decoration: none;} 
.ban_inn_sec a:hover{background: #007BFF;}   



.header_inn_rt ul li i{padding-top: 6px; color: #000;}

.about_sec{width: 100%; padding: 40px 0 0;}
.about_inn{width: 100%;}
.about_inn h6{margin: 0px; font: 700 30px/40px "Poppins", sans-serif; color: #000; text-align: center;}
.about_inn p{margin: 0px 0px 35px; font: 400 18px/25px "Poppins", sans-serif; color: #707070; text-align: center; padding-top: 10px;}
.about_lt{width: 100%;}
.about_lt img{width: 100%;}
.about_rt{width: 100%; padding-top: 50px;}
.about_rt p{margin: 0px;font: 400 18px/25px "Poppins", sans-serif; color: #707070; text-align: left; }
.how_works{width: 100%; padding: 40px 0; background-size: cover !important;}
.how_work_inn{width: 100%; }
.how_work_inn h6{margin: 0px 0 30px; font: 700 30px/35px "Poppins", sans-serif; color: #fff; text-align: center; text-transform: uppercase;}
.how_lt{width: 100%; padding-top: 20px; padding-right: 100px;}
.how_lt p{margin: 0px; font: 400 16px/25px "Poppins", sans-serif; color: #E9E9E9;}
.how_rt{width: 100%;}
.how_rt img{width: 100%;}
.gplay{width: 100%; padding-top: 50px;}
.gplay a{width: 188px; padding: 15px 0; color: #fff; background: #007BFF; border-radius: 9px; text-align: center; display: inline-block; text-decoration: none;}
.feedback_sec{width: 100%; padding: 40px 0;}
.feedback_inn{width: 100%;}
.feedback_inn h6{margin: 0px 0 150px; font: 700 30px/35px "Poppins", sans-serif; color: #000; text-align: center; text-transform: uppercase;}
.feedback_box{width:100%; position: relative;}
.feedback_upper{width: 100%; text-align: center; position: absolute; top: -88px; z-index: 1;}
.feedback_upper img{width: 170px;  border: 2px solid #fff;  border-radius: 50%;}
.feedback_dwn{width: 100%; background: #F1F1F7; box-shadow: 0px 3px 6px #00000029; border-radius: 12px; padding: 90px 20px 47px; position: relative;}
.feedback_dwn p{font: 400 15px/20px "Poppins", sans-serif; margin: 0px 0 12px;}
.feedback_dwn span{font-weight: 600; font-size: 18px;}
.quote{position: absolute; bottom: -20px; right: 24px;}
.contact_sec{width: 100%; background: #E8F3FF; padding: 40px 0;}
.contact_inn{width: 100%;}
.contact_inn h6{margin: 0px 0 30px; font: 700 30px/35px "Poppins", sans-serif; color: #000; text-align: center; text-transform: uppercase;}
.con_sec{width: 100%; margin-bottom: 24px;}
.con_sec input[type="text"], .con_sec input[type="email"], .con_sec input[type="tel"]{width: 100%; border: 1px solid #C5C4D2; border-radius: 9px; height: 45px; padding: 0 10px; font: 400 15px/20px "Poppins", sans-serif;
color:#928FA9; }
.con_sec textarea{width: 100%; border: 1px solid #C5C4D2; border-radius: 9px; height: 145px; padding: 10px 10px; font: 400 15px/20px "Poppins", sans-serif;
    color:#928FA9; resize: none;}
.con_sec button{width: 188px;  display: inline-block; background: #007BFF; padding: 15px 0; font: 500 15px/20px "Poppins", sans-serif;
    border-radius: 9px;  color: #fff; text-align: center; text-decoration: none; border: none;}  
.con_sec button:hover{background:#2b76ad;}      
.footer_sec{width: 100%;}    
.footer_sec_up{ background: #292929; padding: 40px 0; width: 100%;}
.footer_lt{width: 100%;}
.footer_lt img{width: 200px;}
.footer_lt h6{margin: 0px; font: 500 18px/20px "Poppins", sans-serif; color: #fff; }
.footer_lt ul{margin: 0px; padding: 20px 0 0; list-style-type: none;}
.footer_lt ul li{width: 100%; padding: 0 0 8px;}
.footer_lt ul li a{font: 400 15px/20px "Poppins", sans-serif; color: #fff; text-decoration: none;}
.footer_lt_up{width: 100%;}
.footer_lt_up h6{margin: 0px; font: 500 18px/20px "Poppins", sans-serif; color: #fff;}
.footer_lt_up .fa-envelope{color: #007BFF; margin-right: 8px;}
.footer_lt_up p{margin: 0px; padding-top: 20px;}
.footer_lt_up p a{color: #fff; font: 400 15px/20px "Poppins", sans-serif; text-decoration: none;}
.footer_lt_dwn{width: 100%; margin-top: 35px;}
.footer_lt_dwn h6{margin: 0px 0 12px; font: 500 18px/20px "Poppins", sans-serif; color: #fff;}
.footer_lt_dwn ul{margin: 0px; padding: 0px; list-style-type: none;}
.footer_lt_dwn ul li{float: left; padding: 0 9px 0 0; width: auto;}
.footer_lt_dwn ul li a{width: 30px; height: 30px; background: #fff; border-radius: 50%; text-align: center; display: inline-block;}
.footer_lt_dwn ul li a .fa-brands{color: #000; padding-top: 8px;}
.footer_sec_dwn{width: 100%; background: #000000; padding: 15px 0;}
.footer_sec_dwn p{margin: 0px; text-align: center; font: 400 14px/20px "Poppins", sans-serif; color: #878787;}

.fa-bars{color: #fff; padding-top: 5px;}
.navbar-light .navbar-toggler{border: none; padding: 0px;}
.navbar-light .navbar-toggler-icon{background: none;}
.navbar-toggler:focus{box-shadow: none;}
.navbar-brand{padding: 0px;}
.footer_lt_dwn ul li a:hover{background: #007BFF;}
.footer_lt_dwn ul li a:hover .fa-brands{color: #fff;}
.header_inn_rt ul li a:hover{background: #007BFF;}
.header_inn_rt ul li a:hover .fa-brands{color: #fff;}
.terms_sec{width: 100%; padding: 135px 0 25px;}
.terms_inn{width: 100%; }
.terms_inn h6{margin: 0px 0 15px; font: 700 30px/35px "Poppins", sans-serif; color: #000; text-align: center; text-transform: uppercase;}
.terms_inn p{margin: 0px; text-align: center; font: 400 14px/20px "Poppins", sans-serif; color: #878787; padding-bottom: 8px;}
.section-b-space{
    padding-top: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ban_inn_sec{
        top: 8%;
    }
    .menu_sec ul li{padding: 0px;}
    .menu_sec ul li a{padding: 6px 6px !important;}
    .header_inn_rt ul{padding: 0px;}
    .banner_txt h2{font-size: 45px; line-height: 55px;}
    .banner_txt p{font-size: 16px; line-height: 20px;}
    .banner_txt a{width: 150px;}
    .about_rt p{font-size: 16px; ;line-height: 20px;}
    .how_lt{padding-right: 30px;}
    .gplay a img{width: 100%; margin-right: 2px;}
   
}
@media (min-width: 601px) and (max-width: 820px) {
    .container{max-width: 100%;}
    .navbar-brand img{width: 60%;}
    .menu_sec ul li{padding: 0px;}
    .menu_sec ul li a{padding: 6px 6px !important;}
    .header_inn_rt ul{padding: 0px;}
    .ban_inn_sec{
        top: 7%;
    }
    .banner_txt h2{    font-size: 30px;
        line-height: 37px}
    .banner_txt p{font-size: 16px; line-height: 20px;}
    .banner_txt a{width: 150px;}
    .about_rt p{font-size: 16px; ;line-height: 20px;}
    .how_lt{padding-right: 30px;}
    .gplay a img{width: 100%; margin-right: 2px;}
}
@media only screen and (max-width:600px) {
    .banner_inn img{
        height: 360px;
    }
    .ban_inn_sec{
        top: 2.4%;
    }
    .navbar-brand img{width: 60%;}
    .menu_sec ul li{padding: 0px;}
    .menu_sec ul li a{padding: 6px 6px !important;}
    .header_inn_rt ul{padding: 0px;}
    .banner_txt h2{font-size: 20px; line-height:25px;}
    .banner_txt p{font-size: 14px; line-height: 16px;}
    .banner_txt a{width: 90px; padding: 8px 0; margin-top: 8px;}
    .about_rt p{font-size: 14px; ;line-height: 20px;}
    .how_lt{padding-right: 0px;}
    .gplay a img{width: 85%; margin-right: 2px;}
    .header_sec{padding: 3px 0;}
    .banner_txt{width: 95%; left: 4%;}
    .how_lt p{font-size: 14px;}
    .gplay{padding: 25px 0 10px;}
    .feedback_upper { width: 100%; text-align: left;  position: absolute;  top: -33px;  z-index: 1;  left: 0px; }
    .feedback_dwn{padding-top: 45px;}
    .feedback_box{margin-bottom: 50px;}
    .feedback_upper img{width: 60px;}
    .footer_lt{margin-bottom: 15px;}
    .feedback_inn h6{margin-bottom: 40px; font-size: 25px;}
    .how_work_inn h6{font-size: 25px; margin-bottom: 0px;}
    .about_inn h6{font-size: 25px;}
    
}

@media only screen and (max-width:480px) {
    .slick-slide img{height: 300px;}
    .about_rt{padding-bottom: 15px; padding-top: 15px;}
}
