.fullscreen{
    width: 100%;
    height: 100vh;
}
.container {
    overflow-x: scroll;
    scrollbar-width: none; // hide scrollbar in Firefox
  
    &::-webkit-scrollbar {
      display: none; // hide scrollbar in Chromium
    }
  
    // ...
  }